<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/gg.template.xhtml">
	<ui:define name="middle">
		<ui:include src="/pages/lol/accountUserGameCrud.middle.xhtml" />
	</ui:define>
</ui:composition>