<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="2">

			<h:outputLabel for="groupPattern_game" value="#{msgs.groupPattern_game}" />	
			<p:column headerText="#{msgs.groupPattern_game}">
				<p:selectOneMenu value="#{groupPatternCrudControllerImp.groupPattern.game}"
					converter="entityConverter">
					<f:selectItems value="#{listControllerImp.allGames}"
						var="game" itemLabel="#{game.name}"
						itemValue="#{game}" />
				</p:selectOneMenu>
			</p:column>


			<h:outputLabel for="groupPattern_desc" value="#{msgs.groupPattern_desc}" />
			<p:inputText id="groupPattern_desc"
				value="#{groupPatternCrudControllerImp.groupPattern.desc}" inline="true" />
			
			
		</h:panelGrid>

		<p:commandButton value="#{msgs.actionSave}"
			action="#{groupPatternCrudControllerImp.actionSaveGroupPattern}" />
		<p:commandButton value="#{msgs.actionBack}"
			action="#{groupPatternCrudControllerImp.redirectIndex}" />
	</h:form>
</ui:composition>