<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="3">
			<h:outputLabel for="user_email" value="#{msgs.user_email}" />
			<h:outputLabel id="user_email" value="#{homeControllerImp.user.email}" />

			<p:commandButton value="#{msgs.actionLogout}"
				action="#{homeControllerImp.actionLogout}" />
		</h:panelGrid>
	</h:form>
</ui:composition>