<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="1">
			<p:commandButton value="#{msgs.redirectUserGameCrud}"
				action="#{homeControllerImp.redirectUserGameCrud}" />
		</h:panelGrid>
		
		<h:panelGrid columns="1">
			<p:commandButton value="#{msgs.redirectScheduleCrud}"
				action="#{homeControllerImp.redirectScheduleCrud}" />
		</h:panelGrid>

		<h:panelGrid columns="1">
			<p:commandButton value="#{msgs.redirectServerCrud}"
				action="#{homeControllerImp.redirectServerCrud}" />
		</h:panelGrid>

<<<<<<< HEAD
		<h:panelGrid columns="1">
			<p:commandButton value="#{msgs.redirectGroupPatternCrud}"
				action="#{homeControllerImp.redirectGroupPatternCrud}" />
		</h:panelGrid>

=======
>>>>>>> refs/remotes/origin/master
	</h:form>
</ui:composition>
