<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="6">
			Bla bla bla vídeo bla bla bla

			<p:commandButton value="#{msgs.redirectUserRegistration}"
				action="#{indexControllerImp.redirectUserRegistration}" />
		</h:panelGrid>
	</h:form>
</ui:composition>