<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGrid>
		<h:form>
			<p:accordionPanel
				value="#{scheduleCrudControllerImp.selectSchedules}" var="schedule"
				multiple="true">
				<p:tab
					title="#{schedule.userGame != null ? schedule.userGame.game.name : msgs.schedule_noGameDesc}"
					closable="true">

					<p:dataTable value="#{schedule.scheduleTimes}" var="scheduleTime"
						id="scheduleTimeDataTable">

						<p:column headerText="#{msgs.scheduleTime_desc}">
							<h:inputText id="scheduleTime_desc" value="#{scheduleTime.desc}" />
						</p:column>

						<p:column headerText="#{msgs.scheduleTime_timeBegin}">
							<p:calendar value="#{scheduleTime.timeBegin}" stepMinute="10"
								pattern="HH:mm" timeOnly="true" />
						</p:column>

						<p:column headerText="#{msgs.scheduleTime_timeEnd}">
							<p:calendar value="#{scheduleTime.timeEnd}" stepMinute="10"
								pattern="HH:mm" timeOnly="true" />
						</p:column>

						<p:column headerText="#{msgs.scheduleTime_day}">
							<p:selectOneMenu value="#{scheduleTime.day}"
								converter="entityConverter">
								<f:selectItems value="#{listControllerImp.scheduleTimeDay}"
									var="day" itemLabel="#{day.description}" itemValue="#{day}" />
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{msgs.emptyString}">
							<p:commandButton value="#{msgs.actionDel}"
								action="#{scheduleCrudControllerImp.actionDelScheduleTime}"
								update="scheduleTimeDataTable">
								<f:setPropertyActionListener
									target="#{scheduleCrudControllerImp.schedule}"
									value="#{schedule}" />
								<f:setPropertyActionListener
									target="#{scheduleCrudControllerImp.scheduleTime}"
									value="#{scheduleTime}" />
							</p:commandButton>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{msgs.actionAdd}"
								action="#{scheduleCrudControllerImp.actionAddScheduleTime}"
								update="scheduleTimeDataTable">
								<f:setPropertyActionListener
									target="#{scheduleCrudControllerImp.schedule}"
									value="#{schedule}" />
								<f:setPropertyActionListener
									target="#{scheduleCrudControllerImp.scheduleTime}"
									value="#{scheduleTime}" />
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>

			<p:commandButton value="#{msgs.actionSave}"
				action="#{scheduleCrudControllerImp.actionSaveSchedule}">
			</p:commandButton>
			<p:commandButton value="#{msgs.actionBack}"
				action="#{scheduleCrudControllerImp.redirectHome}" />
		</h:form>
	</h:panelGrid>

</ui:composition>