<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel for="server_name" value="#{msgs.server_name}" />
			<p:inputText id="server_name"
				value="#{serverCrudControllerImp.server.name}" />

			<h:outputLabel for="server_desc" value="#{msgs.server_desc}" />
			<p:inputText id="server_desc"
				value="#{serverCrudControllerImp.server.desc}" inline="true" />
			
			<h:outputLabel for="server_game" value="#{msgs.server_game}" />	
			<p:column headerText="#{msgs.server_game}">
				<p:selectOneMenu value="#{serverCrudControllerImp.server.game}"
					converter="entityConverter">
					<f:selectItems value="#{listControllerImp.allGames}"
						var="game" itemLabel="#{game.name}"
						itemValue="#{game}" />
				</p:selectOneMenu>
			</p:column>
			
		</h:panelGrid>

		<p:commandButton value="#{msgs.actionSave}"
			action="#{serverCrudControllerImp.actionSaveServer}" />
		<p:commandButton value="#{msgs.actionBack}"
			action="#{serverCrudControllerImp.redirectIndex}" />
	</h:form>
</ui:composition>