<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel for="user_nameFirst" value="#{msgs.user_nameFirst}" />
			<p:inputText id="user_nameFirst"
				value="#{userRegisterControllerImp.user.nameFirst}" />

			<h:outputLabel for="user_nameLast" value="#{msgs.user_nameLast}" />
			<p:inputText id="user_nameLast"
				value="#{userRegisterControllerImp.user.nameLast}" inline="true" />

			<h:outputLabel for="user_nameNick" value="#{msgs.user_nameNick}" />
			<p:inputText id="user_nameNick"
				value="#{userRegisterControllerImp.user.nameNick}" inline="true" />

			<h:outputLabel for="user_email" value="#{msgs.user_email}" />
			<p:inputText id="user_email"
				value="#{userRegisterControllerImp.user.email}" inline="true" />

			<h:outputLabel for="user_password" value="#{msgs.user_password}" />
			<p:password id="user_password"
				value="#{userRegisterControllerImp.user.password}" inline="true" />

			<h:outputLabel for="user_proficiency"
				value="#{msgs.user_proficiency}" />
			<p:selectOneMenu id="user_proficiency"
				value="#{userRegisterControllerImp.user.proficiency}"
				converter="entityConverter">
				<f:selectItems value="#{listControllerImp.userProficiency}"
					var="proficiency" itemLabel="#{proficiency.description}"
					itemValue="#{proficiency}" />
			</p:selectOneMenu>
		</h:panelGrid>

		<p:commandButton value="#{msgs.actionSave}"
			action="#{userRegisterControllerImp.actionSaveUser}" />
		<p:commandButton value="#{msgs.actionBack}"
			action="#{userRegisterControllerImp.redirectIndex}" />
	</h:form>
</ui:composition>